.all_width {
	width: 1000px;
	position: relative;
	margin: 0 auto;
}	

/*메인메뉴바*/
.mainBar {
	padding: 0 0 20px 0;
}
/*nav*/

/*section article*/
.article_line {
	border-left: solid 3px lightgray;
}

/*이미지*/
.img_info {
	width: 100%;
}